<h1>Challenges Index</h1>

<h3>Welcome, <%= current_user.username %></h3>

<ol>
<% @challenges.each.with_index do |challenge, index| %>
    
   <li><h3><%= index + 1 %>. <%= challenge.title %></h3></li>
    <li><%= challenge.content %></li>
    <li><a href="/challenges/<%= challenge.id %>">View or Edit</a></li>
    <% end %>    
    </ol>
    <br>
    <a href="/challenges/new">Create a new challenge</a>
    <br>
    <a href="/logout">Logout</a>

